* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    padding: 9px;
    gap: 25px;
  
}
body {
    background-color: #3D087B;
}


.left-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto 77px auto;
    height: 100%;
    width: 50%;
    justify-content: end;
    gap: 18px; 
}
.colons
{
    color: #8a11bf; font-size: 30px
}
.clock-img {
    grid-column: 1/3;
    grid-row: 1/2;
}

.card-1 {
    grid-column: 1/3;
    grid-row: 2/3;
}

.card-2 {
    grid-column: 1/3;
    grid-row: 3/4;
}

#a1
{
    color: #CB52F8;
}
#a2
{
    color: #CB52F8;  
}
#a3
{
    color: #CB52F8;  
}
#a4
{
    color: #CB52F8;   
}

/* #a1
{
    color:#FC5EFF 81%;   
} */
/* linear-gradient(113deg, #6E54EC 0%, #CB52F8 40%,); */
.card-3 {
    grid-column: 1/2;
    grid-row: 4/5;
}

.card-4 {
    grid-column: 2/3;
    grid-row: 4/5;
}
.clr
{
  color: #F25CFE;   
}

.digital-clock {
    width: 152px;

}
#set-alarm-btn {
    background: linear-gradient(to right, #6E54EC,#CB52F8);
    border: #6E54EC;
    color: white;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    height: 49.5px;
    border-radius: 4.5px;
    padding: 15px 20px;  
}
.timer {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    width: 449px;
    border-radius: 10px;
    padding: 10px; 
    background-color: #FFFFFF;
    gap: 10px;
    border: 1px solid #EDEDED;
    flex-direction: column;
}

.boxes {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    border-radius: 9.5px;
}



.all-names {
    color: #3D087B;
    width: 40%;
}

select {
    width: 199px;
    border: 2px solid #EDEDED;
    padding: 14px;
}
.all-icons {
    width: 34.5px;
}

.msg-card {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0px 20px;
    border-radius: 9.5px;
    background-color: rgba(255, 255, 255, 0.234);
    font-size: 25px;
}

#new-msg {
    font-family: bauhaus-hv-bt;
    font-weight: 898;
    text-align: center;
    color: #FFFFFF;
    margin-left: 24%;
    text-transform: uppercase;
}

#set-alarm-btn:hover
{
    background-image: linear-gradient(to right,#CB52F8,#6E54EC);
    transition: none;  
}
 select:focus {
    outline: none;
 }
.select-time {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    width: 100%; 
    gap: 12px;
    color: #F25CFE;
    border-radius: 9.5px;
    font-size: 19px;
    background-color: rgba(255, 255, 255, 0.244);
}
.lines {
    margin: 0px 17.7px; 
    height: 34px;
    border: 2px solid #C2C2C2;
}

.right-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 150px 80px auto;
    width: 50%;
    height: 100%;
    gap: 19.5px;
    justify-content: start;
}

.card-5 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.card-6 {
    grid-column: 1/2;
    grid-row: 2/3;
}

.card-7 {
    grid-column: 1/2;
    grid-row: 3/4;
}

.digital-time-card {
    position: relative;
    width: 100%;
    height: 149.5px;
}
.digital-time-card .trasperant-box {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.21;
    width: 80%;
    height: 80px;
    border-radius: 9.5px;
    z-index: 1;
    background-color: white;
}
.digital-time-card .trasperant-box-2 {
    position: absolute;  
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    opacity: 0.71;
    z-index: 2;
    background-color: white;
}

.original-clock .select-time {
    background-image: url(./timeline.svg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70px;
    height: 80px;
    margin: 0px 14.5px;
    gap: 11px;
}


.original-clock .time-word {
    font-weight: 900;
    letter-spacing: 2px;
    color: #3D087B;
    text-transform: uppercase;
}

.select-time span {
    color: #5F0089;
    font-size: 18px;
}

#hours,#minutes,#seconds,
#ampm {
    font-size: 21px;
    font-weight: bold;

}

.original-clock .ampm-card {
    background-image: url(./AM_svg.svg);
}

#ampm {
    color: white;
    font-size: 20px;
}

#morning-img {
    width: 100%;
    border-radius: 10px;
}

.digital-time-card .original-clock {
    position: absolute;
    top: 40%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100%;
    height: 101px;
    border-radius: 9.5px;
    transform: translate(-50%, -50%);
     z-index: 3;
     background-color: white;
}

.msg-card-2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 0px 20px;
   
}

#new-msg-2 {
    text-transform: uppercase;
    color: #8E53F0;
    font-size: 24px;
    font-weight: 898;
}

@media screen and (max-width: 929px) {
    .main-container {
        flex-direction: column;
        height: fit-content;
        padding: 5px;

    }

    .left-container { 
        gap: 9px;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 70px 300px 80px 80px 150px;
        justify-content: start;
        align-content: stretch;

    }

    .clock-img {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .card-1 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .card-2 {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .card-3 {
        grid-column: 1/2;
        grid-row: 4/5;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card-4 {
        grid-column: 1/2;
        grid-row: 5/6;
    }

     .digital-clock {
        width: 148px;

    }

    .timer {
        width: 100%;
        padding: 10px 5px;
    }

    .all-names {
        font-size: 16px;
    }
    .msg-card {
        font-size: 17px;
        padding: 0px 5px;
    }
    #set-alarm-btn {
        width: 71%;
    }
    select {
        width: 150px;
        border: 1px solid #EDEDED;
        padding: 15px;
    }
    .select-time {
        padding: 10px;
    }
    .right-container {
        width: 100%;
        gap: 12px;
        justify-content: stretch;
        align-content: stretch;

    }
    #hours,#minutes,#seconds,
    #ampm {
        font-size: 15px;
    }

    .msg-card-2 {
        padding: 0px 5px;
    }

    #new-msg-2 {
        font-size: 18px;
    }

    .original-clock .select-time { 
        margin: 0px 5px;
        width: 50px;
        height: 60px;
    }

}

@media screen and (min-width: 500px) and (max-width: 900px) {

    .left-container {
        gap: 20px;
    } 
   
    select {
        width: 285px;
        border: 2px solid #EDEDED;
        padding: 15px;
    }
    .timer {
        padding: 10px;
    }  
    #hours,#minutes,#seconds,
    #ampm {
        font-size: 20px;
    }
    .msg-card-2 {
        padding: 0px 10px;
    }

    .msg-card {
        font-size: 20px;
        padding: 0px 10px;
    }
    #new-msg-2 {
        font-size: 21px;
    }
    .original-clock .select-time {
        width: 71px;
        height: 81px;
        margin: 0px 10px;
    }
}